Source: sr-admin-tools
Section: web
Priority: extra
Maintainer: Chris Malton <cmalton@studentrobotics.org>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0), config-package-dev (>= 4.5~)
Standards-Version: 3.8.0

Package: sr-admin-tools-dhcp
Architecture: all
Depends: php5-cli
Description: Student Robotics DHCP admin tools
 This package installs tools to manage the DHCP server for the Student Robotics
 network.

Package: sr-admin-tools-dns
Architecture: all
Depends: sr-router-config-bind9
Description: Student Robotics DNS admin tools
 This package installs tools to manage the DNS server for the Student Robotics
 network.

Package: sr-admin-tools-workflow
Architecture: all
Depends: sr-admin-tools-dns, sr-admin-tools-dhcp
Description: Student Robotics network workflow scripts
 This package installs tools for managing the Student Robotics network in a 
 workflow.
