#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .sr

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
include /usr/share/cdbs/1/rules/divert.mk

DOCS_sr-admin-tools-dhcp = docs/sr-dhcp-register.1.gz \
			   docs/sr-dhcp-unregister.1.gz \
                           docs/sr-dhcp-competitor-register.1.gz \
			   docs/sr-dhcp-competitor-unregister.1.gz

DOCS_sr-admin-tools-dns  = docs/sr-dns-register.1.gz \
			   docs/sr-dns-unregister.1.gz

%.gz: %.man
	gzip -c $< > $@

build/sr-admin-tools-dhcp:: $(DOCS_sr-admin-tools-dhcp)
build/sr-admin-tools-dns:: $(DOCS_sr-admin-tools-dns)

override_dh_clean:
	dh_clean
	rm $(DOCS_sr-admin-tools-dhcp)
	rm $(DOCS_sr-admin-tools-dns)
